/* main.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #ffffff;
  padding: 12px 48px;
  box-shadow: 0px 0px 4px gray;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.header nav {
  display: flex;
  gap: 12px;
  width: 1280px;
  justify-content: center;
}

.header a {
  all: unset;
  cursor: pointer;
  font-weight: 700;
  padding: 6px 12px;
  color: #171717;
  border-radius: 4px;
  transition: all 500ms ease-in-out;
}

.header a:hover {
  color: #007833;
}

.main {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0px;
  gap: 12px;
  width: 100%;
  background-color: #007833;
  color: white;
  border-radius: 4px;
  padding: 12px 0px;
  box-shadow: 0px 0px 4px gray;
}

.banner_image {
  margin-top: 24px;
  width: 600px;
}

.banner p {
  margin: 0
}

.content {
  background-color: white;
  padding: 24px;
  width: 1280px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px gray;
  text-align: left;
}
.content img {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
}
.content p {
  text-align: justify;
  margin: 0 0 10px;
}
.content a {
  color: #008cba;
  text-decoration: none;
}

.links {
  padding: 0;
}
.links li {
  margin: 5px 0;
}

.org_banner_container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  width: 1280px;
  gap: 24px;
  margin: 24px auto;
}

.org_banner_container p {
  font-size: large;
  text-align: center;
}

.orgs, .partners {
  display: flex;
  flex-direction: column;
}

.orgs .logos, .partners .logos {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.org_banner_container a {
  display: block;
  margin: 0 20px;
  transition: transform 0.3s;
}

.org_banner_container img {
  height: 64px;
  display: block;
  margin: 0 auto;
  transition: all 350ms ease;
}

.org_banner_container a:hover img {
  transform: scale(1.1);
}

.footer {
  margin: 0px auto;
  text-align: center;
}

.footer p {
  all: unset;
}